Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.3.6
python-socketio==5.11.2
python-engineio==4.9.1

eventlet==0.36.1

Werkzeug==3.0.3
Jinja2==3.1.4

SQLAlchemy==2.0.32

scikit-learn==1.5.1
numpy==1.26.4
pandas==2.2.2

python-dotenv==1.0.1
