{% extends "base.html" %}

{% block content %}

<h2>Admin Dashboard</h2>

<table class="table table-dark">

<tr>
<th>ID</th>
<th>User</th>
<th>Issue</th>
<th>Status</th>
<th>Change Status</th>
<th>Date</th>
</tr>

{% for ticket in tickets %}

<tr>

<td>{{ ticket.id }}</td>

<td>{{ ticket.user_id }}</td>

<td>{{ ticket.issue }}</td>

<td>
    <span class="badge bg-info">
        {{ ticket.status }}
    </span>
</td>

<td>

<form method="POST"
      action="/admin/update-status/{{ ticket.id }}">

<select name="status"
        class="form-select form-select-sm">

<option value="Open"
{% if ticket.status == "Open" %} selected {% endif %}>
Open
</option>

<option value="Working"
{% if ticket.status == "Working" %} selected {% endif %}>
Working
</option>

<option value="Resolved"
{% if ticket.status == "Resolved" %} selected {% endif %}>
Resolved
</option>

</select>

<button type="submit"
        class="btn btn-success btn-sm mt-1">

Update

</button>

</form>

</td>

<td>{{ ticket.created_at }}</td>

</tr>

{% endfor %}

</table>

{% endblock %}